<%- include('./includes/head', {pageTitle: "Not Authenticate"}) %> 
</head>
<body>
<%-include('./includes/header') %>
<main>
    <h1>Not Authenticated</h1>
    <p>The resource you are trying to access requires authentication and you are not authenticated.  Please log in and try again.</p>
    <p><a class="btn" href="/">Back To Safety</a></p>
</main>

<%- include('./includes/footer') %>
