<%- include('./includes/head', {pageTitle: "Not Authorized"}) %> 
</head>
<body>
<%-include('./includes/header') %>
<main>
    <h1>Not Authorized</h1>
    <p>You are not authorized to access the requested resource</p>
    <p><a class="btn" href="/">Back To Safety</a></p>
</main>

<%- include('./includes/footer') %>
