<%- include('./includes/head', {pageTitle: "Not Found"}) %> 
</head>
<body>
<%-include('./includes/header') %>
<main>
    <h1>Resource Not Found</h1>
    <p>Unfortunately we could not find the expected resource</p>
    <p><a class="btn" href="/">Back To Safety</a></p>
</main>

<%- include('./includes/footer') %>
